@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink class="nav-link" href="saludo" Match="NavLinkMatch.All">
    <span class="oi oi-comment-square" aria-hidden="true"></span> Saludo
</NavLink>

